body {
    background-color: burlywood;
    opacity: 1;
}

.h1 {

    text-align: center;
    margin-left: auto;
    margin-top: auto;
    color: rgb(9, 112, 40);
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;

}

.input{
    text-align: center;
    width: auto;
    height: auto;
    font-size: 20px;
    height: 30px;
    border-radius: 4px;
    border-color: black;
    font-family: 'Ubuntu', sans-serif;

}

.button {
    background-color: #4CAF50; /* Green */
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15px;
    margin-left: 10px;
    transition: 0.3ms;
    font-family: 'Ubuntu', sans-serif;

}

#btn {
    align-items: center;
    display: flex;
    justify-content: center;
}

#btn1 {

}

.div1 {
    width: 1000px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.div2   {

    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}


}

 .button:active {

    background-color: red;
    border-radius: 10px;

 }


canvas {
    border-style: solid;
    border-width: 1px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1000px;
}